<h3>投稿数の前日比・前週比</h3>
<div class="table_container">
  <!-- 前日比テーブル -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>今日の投稿数</th>
        <th>昨日の投稿数</th>
        <th>前日比</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @today_book.count %></td> <!-- 今日の投稿数 -->
        <td><%= @yesterday_book.count %></td> <!-- 前日の投稿数 -->
        <td>
          <% if @yesterday_book.count == 0 %>
            前日の投稿はありません
          <% else %>
            <% @the_day_before = @today_book.count / @yesterday_book.count.to_f %>
            <%= (@the_day_before * 100).round %>% <!-- 前日比を計算し、パーセントで表示 -->
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table_container">
  <!-- 先週比テーブル -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>今週の投稿数</th>
        <th>先週の投稿数</th>
        <th>先週比</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @this_week_book.count %></td> <!-- 今週の投稿数 -->
        <td><%= @last_week_book.count %></td> <!-- 先週の投稿数 -->
        <td>
          <% if @last_week_book.count == 0 %>
            先週の投稿はありません
          <% else %>
            <% @the_week_before = @this_week_book.count / @last_week_book.count.to_f %>
            <%= (@the_week_before * 100).round %>% <!-- 先週比を計算し、roundで四捨五入しパーセントで表示 -->
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>